<%- include('header.ejs', {
    recordsPerPage: 25,
    currentPage: 1,
    totalPages: 1,
    totalRecords: 0,
    sort: 'product',
    direction: 'asc',
    session: session || {}
}) %>

<div class="login-form-container">
    <h2>Iniciar Sesión</h2>
    <form class="login-form" method="POST" action='/chg-pwd'>
        <label for="current-pass">contraseña actual:</label>
        <input type="password" id="current-pass" name="currentPassword" placeholder="Current Password" required>

        <label for="new-pass">Nueva contraseña:</label>
        <input type="password" id="new-pass" name="newPassword" placeholder="New Password" required>

        <label for="conf-new-pass">Confima la nueva contraseña:</label>
        <input type="password" id="conf-new-pass" name="confirmedNewPassword" placeholder="Conf new Password" required>


        <button type="submit" class="submit-btn">Cambiar Contraseña</button>
    </form>
        <section id="notifications-container">

            <!-- Mensajes de error -->
            <% if (typeof error !== 'undefined') { %>
                <div class="notification-error">
                    <%= error %>
                </div>
            <% } %>

            <!-- Mensajes de éxito -->
            <% if (typeof success !== 'undefined') { %>
                <div class="notification-success">
                    <%= success %>
                </div>
            <% } %>

    </section>
</div>

<%- include('footer.ejs') %>
